.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

IMG {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}





/* #region header */

header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.menu-nav-list,
.contact-block {
  display: none;
}

.icon-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
}

.icon-nav-style {
  color: #2e2f42;
  padding: 24px 0;
  margin-right: 120px;
}

.burger-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
  padding: 0;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

/* region Modal header */











.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-studio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-nav-link.current {
  color: #404bbf;
}

/* .contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
} */


.phone-block .contact-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #434455;
}

/* #region mobile-menu */

.footer-social {
  display: flex;
  align-items: baseline;
  gap: 40px;
}


.social-icon {
  width: 40px;
  height: 40px;
  background-color: #4D5AE5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon svg {
  fill: #F4F4FD;
  width: 24px;
  height: 24px;
}

.mobile-menu-container address {
  margin-top: 168px;
  margin-bottom: 48px;
}

/* #endregion mobile-menu */

/* #endregion header */


/* #region section-title */

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #2e2f42;
  padding: 188px 0 188px 0;
  max-width: 320px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/img-name.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  margin-top: 72px;
  margin-bottom: 72px;
  max-width: 261px;
}

button {
  justify-content: center;
  cursor: pointer;
  background: #4d5ae5;
}

.order-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

/* #endregion section-title */

/* #region section-strategy */

.section-strategy {
  background-color: #fff;
  padding-bottom: 120px;
  padding-top: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-strategy ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.section-strategy li {
  text-align: center;
}

.section-strategy p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.feature-block-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-block-item h3 {
  text-align: center;
  width: 100%;
}

.feature-block-item p {
  text-align: left;
  width: 100%;
}

.icon-container {
  display: none;
}


/* #endregion section-strategy */

/* #region section-fotos */

.section-fotos {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.our_team {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-fotos ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.section-fotos li {
  text-align: center;
}

.section ul li h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section ul li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.section-fotos img {
  display: block;
  margin: 0 auto;
}

.section-fotos .social-networks {
  fill: #f4f4fd;
}

.list-foto {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.foto-li {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.foto-li img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.foto-info {
  padding: 32px 0;
}

.foto-info ul {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.foto-info ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #4D5AE5;
}

.foto-info ul li svg {
  fill: black;
  transition: fill 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.foto-info ul li:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.foto-info ul li:hover svg {
  fill: #4d5ae5;
}

.social-link:hover {
  background-color: #404bbf;
}

.social-link:focus {
  background-color: #404bbf;
}

.foto-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.foto-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}


/* #endregion section-fotos */


/* #region portfolio */

.portfolio-section {
  background-color: #fff;
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 288px;
  margin: 0 auto 96px;
}

.portfolio-item {
  text-align: left;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-info h3 {
  margin: 32px 0 8px 16px;
}

.portfolio-info p {
  margin-left: 16px;
}

.portfolio-item:hover .portfolio-info {
  transform: translateY(0);
}

.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-role {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.portfolio-description {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-description {
  transform: translateY(0%);
}

/* #endregion portfolio */

/* #region footer */

.footer-logo-cont {
  background-color: #2e2f42;
  width: 320px;
  margin: 96px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.footer-logo-cont .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}

.footer-logo-block,
.footer-social-block,
.footer-subscription {
  width: 100%;
}

.footer-logo-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-top: 96px;
  margin-bottom: 16px;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: left;
  margin-top: 72px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.footer-social-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}


.footer-social-block .footer-text {
  text-align: center;
  margin: 0;
}

.footer-logo-cont .footer-social {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.icon-nav-footer {
  color: #f4f4fd;
}

.social-icon {
  width: 40px;
  height: 40px;
}

.social-icons ul {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #434455;
  transition: background-color 0.3s ease;
}

.social-icons a:hover {
  background-color: #4d5ae5;
}

.social-icons li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.social-icons li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.social-icons svg {
  fill: #fff;
}

.footer-logo-cont .social-icon {
  width: 40px;
  height: 40px;
}



.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer .social-link:hover,
footer .social-link:focus {
  background-color: #31d0aa;
}

.social-networks {
  fill: #f4f4fd;
}

.subscribe-title {
  margin-bottom: 16px;
  margin-top: 72px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.subscription-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.label-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.email-input {
  padding-left: 16px;
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.label-footer input {
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
}

.subscribe-btn {
  width: 169px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 96px;
}

.subscription-input-group {
  display: flex;
  align-items: flex-end;
  margin-top: 0;
}

.subscription-input-group button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  background-color: #4a76f0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.subscription-input-group svg {
  fill: currentColor;
}

.subscribe-icon {
  margin-left: 16px;
  fill: black;
}

/* #endregion footer */



/* Планшетні стилі */
@media screen and (min-width: 768px) {

  .container {
    max-width: 768px;

  }

  .footer-logo-cont .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
  }

  .mobile-menu {
    display: none;
  }


  /* #region header */


  .menu-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-block {
    font-style: normal;
    display: block;
    margin-left: auto;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .main-header {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .contact-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
  }

  .nav-link-header:hover,
  .nav-link-header:focus,
  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }

  /* #endregion header */

  /* #region section-title */

  .section-title {
    max-width: 768px;
  }

  .main-title {
    margin-top: 112px;
    margin-bottom: 36px;
    max-width: 496px;
  }

  /* #endregion section-title */


  /* #region section-strategy */
  .section-strategy ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .section-strategy li {
    text-align: left;
  }

  /* #endregion section-strategy */




  /* #region section-fotos */
  .icon-container {
    display: flex;
  }

  .list-foto {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .foto-li {
    width: calc((100% - 24px) / 2);
  }

  /* #endregion section-fotos */


  /* #region portfolio */
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
    width: 100%;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }


  /* #endregion portfolio */
  /* #region footer */

  .footer-logo-block,
  .footer-social-block {
    flex: 1 1 auto;
  }


  .footer-subscription {
    flex: 1 1 100%;
  }


  .footer-logo-cont {
    width: 768px;
  }

  .footer-logo-block {
    width: 264px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 108px;
    margin-right: 24px;
    gap: 16px;
  }

  .footer-text {
    margin: 0;
  }

  .footer-social-block {
    width: 208px;
  }

  .burger-btn {
    display: none;
  }




  /* #endregion footer */

}




/* Десктопні стилі */
@media screen and (min-width: 1158px) {

  /* #region header */

  .icon-nav-style {
    margin-right: 76px;
  }

  .nav-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }

  .section-title {
    max-width: 1440px;
  }

  .main-title {
    margin-top: 188px;
    margin-bottom: 48px;
    max-width: 496px;
  }

  .section-strategy ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .feature-block-item {
    width: calc((100% - 72px) / 4);
  }

  .feature-block-item div {
    margin-bottom: 8px;
  }

  .feature-block-item h3 {
    margin-bottom: 40px;
  }

  .section-fotos {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .list-foto {
    flex-wrap: nowrap;
  }

  .foto-li {
    width: calc((100% - 3 * 24px) / 4);
  }

  .portfolio-section {
    min-width: 1128px;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .footer-logo-cont {
    width: 1440px;
  }

  .footer-logo {
    margin-top: 100px;
  }

}