.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

IMG {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* #region header */

header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.menu-nav-list,
.contact-block {
  display: none;
}

.icon-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
}

.icon-nav-style {
  color: #2e2f42;
  padding: 24px 0;
  margin-right: 120px;
}

.burger-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
  padding: 0;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}


@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .menu-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-block {
    font-style: normal;
    display: block;
    margin-left: auto;
  }

  .main-header {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
  }

  .nav-link-header:hover,
  .nav-link-header:focus,
  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }
}


@media screen and (min-width: 1157px) {
  .icon-nav-style {
    margin-right: 76px;
  }

  .nav-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}


/* #endregion header */